# Please upload the actual Word .docx version of IND Cover Letter template.  
# Rename to cover_letter.docx.j2 and replace these comments with Jinja placeholders 
# matching the data keys in ind_automation/main.py:
#
# {{ sponsor_name }}
# {{ sponsor_address }}
# {{ submission_date }}
# {{ IND_number }}
# {{ drug_name }}
# {{ indication }}
# {{ serial_number }}
# {{ contact_name }}
# {{ contact_phone }}
# {{ contact_email }}